<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-cola"
    version="1.0.0">
    <name>Cola</name>
    <description>Cola VPN</description>
    <license>Apache 2.0</license>
    <keywords>cordova,cola</keywords>
    <repo></repo>
    <issue></issue>

    <js-module src="www/cola.js" name="Cola">
        <clobbers target="cola" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Cola">
                <param name="ios-package" value="CDVCola"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVCola.h" />
        <source-file src="src/ios/CDVCola.m" />

        <framework src="NetworkExtension.framework" />
        <framework src="libs/Cola.framework" custom="true"/>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Cola" >
                <param name="android-package" value="com.cola.Cola"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:exported="false" android:name="com.cola.ColaService" android:permission="android.permission.BIND_VPN_SERVICE">
                <intent-filter>
                    <action android:name="android.net.VpnService" />
                </intent-filter>
            </service>
        </config-file>

        <source-file src="src/android/Cola.java" target-dir="src/com/cola" />
        <source-file src="src/android/ColaService.java" target-dir="src/com/cola" />

        <framework src="src/android/cola.gradle" custom="true" type="gradleReference" />

        <resource-file src="libs/cola.aar" target="libs/cola.aar" />
    </platform>

</plugin>